
.container{
  width: 80%;
  margin:30px auto;
  background-color: lightgrey;
}
.instructions{
  background-color: violet;
}
#firstPlayerInfo{
  text-decoration-color:blue;
}
#secondPlayerInfo{
  text-decoration-color:blue;
}
